<div class="header-wrapper" [class.sticky]="isSticky">
  <div class="header-left">
    <svg *ngIf="!isMobile" icon="logo" width="174" height="24"></svg>
    <app-button *ngIf="isMobile" type="icon" icon="nav"></app-button>
  </div>
  <div class="header-right">
    <app-input class="search-input" placeholder="Поиск" icon="search"></app-input>
    <app-avatar-circle [avatarUrl]="'assets/avatar.png'"></app-avatar-circle>
    <span class="header-right__user-name">Максим Галактионов</span>
    <app-button type="icon" icon="settings"></app-button>
  </div>
</div>
