<div class="modal-backdrop" (click)="onBackdropClick($event)">
  <div class="modal-content">
    <div class="modal-body">
      <div class="main-wrapper">
        <div class="subheading">
          <div class="subheading__left">
            <span class="subheading__title">Подзадача</span>
          </div>
          <div class="subheading__right">
            <app-button type="primary" label="Сохранить"></app-button>
            <app-button (click)="close()" type="secondary" label="Отменить"></app-button>
          </div>
        </div>
        <div class="form-padding">
          <h1 class="form-title">STSK0004783 На инциденте, запросе, проблеме, в статусе закрыто некоторые поля остаются
            редактируемыми для агента если он Caller</h1>
          <div class="form-wrapper">
            <div class="two-columns">
              <div>
                <app-label forId="theme" [required]="true">Тема</app-label>
                <app-input placeholder="Введите тему" inputId="theme"
                           value="На инциденте, запросе, проблеме, в статусе закрыто некоторые поля остаются редактируемыми для агента если он Caller"></app-input>
              </div>
              <div>
                <app-label forId="status">Статус</app-label>
                <app-input placeholder="Введите статус" inputId="status" value="Новая"></app-input>
              </div>
            </div>
            <div class="two-columns">
              <div>
                <app-label forId="description">Описание</app-label>
                <app-input placeholder="Введите описание" inputId="description" value="123"></app-input>
              </div>
              <div>
                <app-label forId="product">Продукт</app-label>
                <div class="input-group">
                  <app-input placeholder="Введите продукт" inputId="product" value="Platform"></app-input>
                  <app-button type="icon" icon="search-btn"></app-button>
                </div>
              </div>
            </div>
            <div class="two-columns">
              <div>
                <app-label forId="notes" [required]="true">Рабочие заметки</app-label>
                <app-input placeholder="Введите заметку" inputId="notes"
                           value="Проверить ACL id=172830402014193655"></app-input>
              </div>
              <div>
                <app-label forId="priority">Приоритет</app-label>
                <app-input placeholder="Введите приоритет" inputId="priority" value="Низкий"></app-input>
              </div>

            </div>

            <div class="two-columns">
              <div>
                <app-label forId="handler">Ответственный</app-label>
                <div class="input-group-two-elements">
                  <app-tag-input inputId="handler" [tags]="['Константин Константинов']"
                  ></app-tag-input>
                  <app-button type="icon" icon="plus"></app-button>
                  <app-button type="icon" icon="search-btn"></app-button>
                </div>
              </div>
              <div>
                <app-label forId="group">Группа</app-label>
                <div class="input-group-two-elements">
                  <app-tag-input inputId="group" [tags]="['Support Group']"></app-tag-input>
                  <app-button type="icon" icon="plus"></app-button>
                  <app-button type="icon" icon="search-btn"></app-button>
                </div>
              </div>
            </div>
            <div>
              <app-label forId="comment">Комментарий</app-label>
              <app-input placeholder="Введите комментарий" inputId="comment"></app-input>
            </div>
            <div>
              <app-label forId="coordinating">Согласующие</app-label>
              <div class="input-group-two-elements">
                <app-tag-input inputId="coordinating"
                               [tags]="[
                 'Андрей Пивоваров',
                 'Максим Галактионов',
                 'Алла Лин',
                 'Константин Константинопольский Константинович',
                 'Игорь Иванченко',
                 'Юлия Эйчарова',
                 'Артём Подпрыгайко-Саппортов',
                 'Илья Вазнец',
                 'Михаил Вортенов',
                 'Наталья Нашевна',
                 'Евгения Итамовна',
                 'Алиса Киральчук'
               ]"
                               [removable]="true">
                </app-tag-input>
                <app-button type="icon" icon="plus"></app-button>
                <app-button type="icon" icon="search-btn"></app-button>
              </div>
            </div>
            <div class="two-columns">
              <div>
                <app-label forId="when-opened">Когда открыто</app-label>
                <div class="input-group">
                  <app-input placeholder="Введите продукт" inputId="when-opened" value="22.01.2022"></app-input>
                  <app-button type="icon" icon="calendar"></app-button>
                </div>
              </div>

              <div>
                <app-label forId="when-created">Когда создано</app-label>
                <div class="input-group">
                  <app-input placeholder="Введите продукт" inputId="when-created" value="22.01.2022"></app-input>
                  <app-button type="icon" icon="calendar"></app-button>
                </div>
              </div>
            </div>
            <div class="two-columns">
              <div>
                <app-label forId="who-opened">Кем открыто</app-label>
                <div class="input-group-two-elements">
                  <app-tag-input inputId="who-opened" [tags]="['Константин Константинов']"
                  ></app-tag-input>
                  <app-button type="icon" icon="plus"></app-button>
                  <app-button type="icon" icon="search-btn"></app-button>
                </div>
              </div>
              <div>
                <app-label forId="who-created">Кем создано</app-label>
                <div class="input-group-two-elements">
                  <app-tag-input inputId="who-created" [tags]="['Константин Константинов']"></app-tag-input>
                  <app-button type="icon" icon="plus"></app-button>
                  <app-button type="icon" icon="search-btn"></app-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
