

.search-container {
  position: relative;
  display: inline-block;
}


.search-input {
  border: 1px solid #d5d8dd;
  border-radius: 4px;
  padding: 6px 8px;
  width: 296px;
  height: 32px;

}

.search-input::placeholder {
  font-family: var(--font-family), serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #abb1ba;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}
.nav-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}
.nav-item {
  border-right: 1px solid #d5d8dd;
  width: 56px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

}

.nav-search {
  border-right: 1px solid #d5d8dd;
  width: 280px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
}

.nav-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  cursor: pointer;
}

